<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thread Downloader for Reddit</title>

    <script src="https://hcaptcha.com/1/api.js" async defer></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.6/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.6/semantic.min.js"></script>
</head>
<body>
    <h1 class="ui center aligned header">Thread Downloader for Reddit</h1>

    <div class="ui container">
        <div class="ui one column centered grid">
            <div class="sixteen wide column centered row">
                <h2>Error</h2>
                <p>Error: {{ error_message }}</p>
            </div>
        </div>
        <div class="sixteen wide column centered row">
            <h2>About</h2>
            <p>
                Thread Downloader for Reddit is a third party client for Reddit and not associated with Reddit, Inc..
                All content downloaded is copyright its respective owners.
            </p>
        </div>
    </div>
</body>
</html>